In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
df = pd.read_csv('orders.csv', sep=";")
print(df)

        order_id              product_name
0              2        Organic Egg Whites
1              2     Michigan Organic Kale
2              2             Garlic Powder
3              2            Coconut Butter
4              2         Natural Sweetener
...          ...                       ...
296995     31319  Uncured Black Forest Ham
296996     31319            Pizza 4 Cheese
296997     31320         Soft Potato Bread
296998     31320                 Spaghetti
296999     31320      Marinara Pasta Sauce

[297000 rows x 2 columns]

In [3]:
data = list(df["product_name"].apply(lambda x:x.split(';')))

In [4]:
df= df.groupby('product_name').filter(lambda x : len(x)>400)

In [5]:
df_encoded= pd.get_dummies(df['product_name'])
df_grouped = df_encoded.groupby(df['order_id']).sum()
df_grouped.to_csv('datos2.csv', sep=";")
df_grouped

,100% Whole Wheat Bread,Apple Honeycrisp Organic,Asparagus,Bag of Organic Bananas,Banana,Blueberries,Boneless Skinless Chicken Breasts,Bunched Cilantro,Carrots,Cucumber Kirby,...,Raspberries,Red Peppers,Red Vine Tomato,Seedless Red Grapes,Small Hass Avocado,Sparkling Water Grapefruit,Spring Water,Strawberries,Unsweetened Almondmilk,Yellow Onions
order_id,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31309,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31310,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31312,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31319,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df_grouped.sum().sort_values(ascending=False).to_csv('soporteOrder.csv', sep=";")

In [7]:
rules=apriori(df_grouped, min_support=0.01, use_colnames=True)
rules['length'] = rules['itemsets'].apply(lambda x: len(x))
sorted_rules = rules.sort_values('support', ascending = False)
sorted_rules

c:\Users\Camila Granda\AppData\Local\Programs\Python\Python311\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                           itemsets  length
4   0.220872                                           (Banana)       1
3   0.177716                           (Bag of Organic Bananas)       1
48  0.118377                             (Organic Strawberries)       1
23  0.111974                             (Organic Baby Spinach)       1
37  0.099269                             (Organic Hass Avocado)       1
..       ...                                                ...     ...
67  0.010487          (Bag of Organic Bananas, Organic Avocado)       2
66  0.010335  (Apple Honeycrisp Organic, Bag of Organic Bana...       2
69  0.010184      (Organic Blueberries, Bag of Organic Bananas)       2
71  0.010134      (Bag of Organic Bananas, Organic Gala Apples)       2
70  0.010033         (Bag of Organic Bananas, Organic Cucumber)       2

[105 rows x 3 columns]

In [8]:
# printing the frequntly items 
rules[ (rules['length'] == 2) &
                   (rules['support'] >= 0.01)]
sorted_rules = rules.sort_values('support', ascending=False)
sorted_rules

     support                                           itemsets  length
4   0.220872                                           (Banana)       1
3   0.177716                           (Bag of Organic Bananas)       1
48  0.118377                             (Organic Strawberries)       1
23  0.111974                             (Organic Baby Spinach)       1
37  0.099269                             (Organic Hass Avocado)       1
..       ...                                                ...     ...
67  0.010487          (Bag of Organic Bananas, Organic Avocado)       2
66  0.010335  (Apple Honeycrisp Organic, Bag of Organic Bana...       2
69  0.010184      (Organic Blueberries, Bag of Organic Bananas)       2
71  0.010134      (Bag of Organic Bananas, Organic Gala Apples)       2
70  0.010033         (Bag of Organic Bananas, Organic Cucumber)       2

[105 rows x 3 columns]

In [9]:
rules[ (rules['length'] == 3)]
sorted_rules1= rules.sort_values('support', ascending=False)
sorted_rules1

     support                                           itemsets  length
4   0.220872                                           (Banana)       1
3   0.177716                           (Bag of Organic Bananas)       1
48  0.118377                             (Organic Strawberries)       1
23  0.111974                             (Organic Baby Spinach)       1
37  0.099269                             (Organic Hass Avocado)       1
..       ...                                                ...     ...
67  0.010487          (Bag of Organic Bananas, Organic Avocado)       2
66  0.010335  (Apple Honeycrisp Organic, Bag of Organic Bana...       2
69  0.010184      (Organic Blueberries, Bag of Organic Bananas)       2
71  0.010134      (Bag of Organic Bananas, Organic Gala Apples)       2
70  0.010033         (Bag of Organic Bananas, Organic Cucumber)       2

[105 rows x 3 columns]

In [10]:
#tabla de reglas de asociacion
reglasAsociacion = association_rules(rules, metric="confidence", min_threshold=0.3)
reglasAsociacion["antecedents_length"] = reglasAsociacion["antecedents"].apply(lambda x: len(x))
reglasAsociacion["consequents_length"] = reglasAsociacion["consequents"].apply(lambda x: len(x))
reglasAsociacion=reglasAsociacion.sort_values("confidence",ascending=False)
reglasAsociacion.to_csv('reglasAsociacionSoporte.csv', sep=";")
reglasAsociacion

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric,antecedents_length,consequents_length
4,(Organic Fuji Apple),(Banana),0.041341,0.220872,0.015377,0.371951,1.684011,0.006246,1.240553,0.423696,1,1
3,(Honeycrisp Apple),(Banana),0.038820,0.220872,0.013461,0.346753,1.569927,0.004887,1.192701,0.377690,1,1
2,(Cucumber Kirby),(Banana),0.045878,0.220872,0.015629,0.340659,1.542337,0.005496,1.181677,0.368541,1,1
0,(Organic Large Extra Fancy Fuji Apple),(Bag of Organic Bananas),0.034585,0.177716,0.011747,0.339650,1.911195,0.005601,1.245225,0.493847,1,1
5,(Seedless Red Grapes),(Banana),0.037157,0.220872,0.011495,0.309362,1.400639,0.003288,1.128128,0.297079,1,1
1,(Organic Raspberries),(Bag of Organic Bananas),0.064684,0.177716,0.019561,0.302416,1.701681,0.008066,1.178760,0.440862,1,1